header{
  width: 100%;
  padding: 8px 0;
  background: rgba(0,0,0,0.8);

  .logo-container{
    width: 45px;
    height: 45px;

    img{
      max-width: 100%;
    }
  }

  .hamburger-container{
    width: 45px;

    .hamburger-line{

    }
  }
}
